#page {
	width: 100%;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 50px;
	border: 1px solid #000;
	margin-bottom: 16px;
}

#content {
	width: 100%;
	height: 200px;
	margin-right: 16px;
	margin-bottom: 16px;
	border: 1px solid #000;
}

#footer {
	width: 100%;
	height: 400px;
	border: 1px solid #000;
}

.link a {
	text-decoration: none;
}

.link a:HOVER {
	text-decoration: underline;
}

.image {
	background-image: url('../images/GMS_Execution_Workflow_v1.0.png');
	width: auto;
	height: auto;
}

.esmaecer {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.esmaecer img{
	width: 100%;
}

.hidden, 
a.first_1, a.first_68, a.first_3, a.first_4,a.first_5,
a.second_1,a.second_2,a.second_66,a.second_4,
a.third_1,a.third_2,a.third_3,a.third_4,a.third_5,
a.four_1,a.four_2,a.four_3,a.four_4,
a.five_1,a.five_2,a.five_3,a.five_4,
a.six_1,a.six_2,a.six_3,a.six_4,
a.seven_1,a.seven_2,a.seven_3,a.seven_4,
a.eight_1,a.eight_2,a.eight_3,a.eight_4,
a.nine_1,a.nine_2,a.nine_3,a.nine_4,
a.ten_1,a.ten_2,a.ten_3,a.ten_4,
a.eleven_1,a.eleven_2,a.eleven_3,a.eleven_4,
a.twelve_1,a.twelve_2,a.twelve_3,a.twelve_4,
a.thirteen_1,a.thirteen_2,a.thirteen_3,a.thirteen_4
{
	background-image: url('../images/GMS_Execution_Workflow_v1.0.png');
	display:block;
	height: 100px;
	width: 150px;
}
a.first_1{
	background-position:0px 0px;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30; 
}
a.first_1:hover{
	background-position:0px 0px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.first_68{
	background-position:-200px 0px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}
a.first_68:hover{
	background-position:-200px 0px; 
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

a.first_3{
	background-position:-400px 0px; 
}

a.first_4{
	background-position:-600px 0px; 
}

a.second_1{
	background-position:0px -110px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.second_1:hover{
	background-position:0px -110px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.second_2{
	background-position:-200px -110px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.second_2:hover{
	background-position:-200px -110px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.second_66{
	background-position:-400px -110px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.second_66:hover{
	background-position:-400px -110px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.second_4{
	background-position:-600px -110px;
}

a.third_1{
	background-position:0px -220px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.third_1:hover{
	background-position: 0px -220px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.third_2{
	background-position:-200px -220px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.third_2:hover{
	background-position:-200px -220px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.third_3{
	background-position:-400px -220px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.third_3:hover{
	background-position:-400px -220px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.third_4{
	background-position:-600px -220px;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30; 
}

a.third_4:hover{
	background-position:-600px -220px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.third_5:hover{
	background-position:-800px -220px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.third_5{
	background-position:-800px -220px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}


a.four_1{
	background-position:0px -330px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.four_1:hover{
	background-position:0px -330px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.four_2{
	background-position:-200px -330px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.four_2:hover{
	background-position:-200px -330px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.four_3{
	background-position:-400px -330px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.four_3:hover{
	background-position:-400px -330px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.four_4{
	background-position:-600px -330px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.four_4:hover{
	background-position:-880px -330px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.five_1{
	background-position:0px -440px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.five_1:hover{
	background-position:0px -440px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.five_2{
	background-position:-200px -440px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.five_2:hover{
	background-position:-200px -440px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.five_3{
	background-position:-400px -440px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.five_3:hover{
	background-position:-400px -440px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.five_4{
	background-position:-600px -440px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.five_4:hover{
	background-position:-600px -440px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.six_1{
	background-position:0px -550px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.six_1:hover{
	background-position:0px -550px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.six_2{
	background-position:-200px -550px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.six_2:hover{
	background-position:-200px -550px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.six_3{
	background-position:-400px -550px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.six_3:hover{
	background-position:-400px -550px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.six_4{
	background-position:-600px -550px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.six_4:hover{
	background-position:-600px -550px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.seven_1{
	background-position:0px -660px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.seven_1:hover{
	background-position:0px -660px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.seven_2{
	background-position:-200px -660px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.seven_2:hover{
	background-position:-200px -660px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.seven_3{
	background-position:-400px -660px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.seven_3:hover{
	background-position:-400px -660px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.seven_4{
	background-position:-600px -660px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.seven_4:hover{
	background-position:-600px -660px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.eight_1{
	background-position:0px -770px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.eight_1:hover{
	background-position:0px -770px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.eight_2{
	background-position:-200px -770px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.eight_2:hover{
	background-position:-200px -770px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.eight_3{
	background-position:-400px -770px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.eight_3:hover{
	background-position:-400px -770px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.eight_4{
	background-position:-600px -770px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.eight_4:hover{
	background-position:-600px -770px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.nine_1{
	background-position:0px -880px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.nine_1:hover{
	background-position:0px -880px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.nine_2{
	background-position:-200px -880px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.nine_2:hover{
	background-position:-200px -880px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.nine_3{
	background-position:-400px -880px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.nine_3:hover{
	background-position:-400px -880px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.nine_4{
	background-position:-600px -880px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.nine_4:hover{
	background-position:-600px -880px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.ten_1{
	background-position:0px -990px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.ten_1:hover{
	background-position:0px -990px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

a.ten_2{
	background-position:-200px -990px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.ten_2:hover{
	background-position:-200px -990px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.ten_3{
	background-position:-400px -990px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.ten_3:hover{
	background-position:-400px -990px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}
a.ten_4{
	background-position:-600px -990px; 
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.ten_4:hover{
	background-position:-600px -990px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1; 
}

#page-bar {
margin: 0px;
padding: 0px;
width:auto;
}
#page-bar ul {
list-style-position: inside;
list-style-image: none;
list-style-type: none;
}
#page-bar li {
float:left;
display:block;
list-style-position: inside;
list-style-image: none;
list-style-type: none;
margin: 0px;
padding: 0px;
}
#page-bar li a{
margin: 0px;
color:#000000;
display:block;
text-decoration: none;
width: 200px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 12pt;
padding-top: 5px;
padding-bottom: 5px;

}
#page-bar li a:hover {
color: #0000FF;
text-decoration: underline;}
-->
</style